/*---------------------------------- SECCIÓN HEADER ----------------------------------*/
header{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem 2.5rem;
    position: fixed; /* Hace la navbar fija arriba */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
    transition: all 0.3s ease;
}

/* Cuando el usuario hace scroll, se agrega la clase .navbar-scrolled */
.navbar.navbar-scrolled {
    background: #0e0904; /* Marrón oscuro sólido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.open, .close{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none; 
}
.logo {
    height: 2.9rem;
    width: auto;
    transition: all 0.3s ease;
}
.logo:hover {
    transform: scale(1.05);
}

.nav_lists{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.link {
    display: inline-block; /* permite aplicar transform */
    text-decoration: none;
    color:#fff;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}
.link:hover {
    color: var(--color_secundario);
    transform: scale(1.1);
}

.reservas {
    display: inline-block; /* permite aplicar transform */
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.2rem;
    letter-spacing: 3px;
    font-size: 1.1rem;
    border: 2px solid #fff;
    border-radius: 0.7rem;
    transition: all 0.3s ease;
}
.reservas:hover {
    background-color: var(--color_secundario);
    color: var(--color_primario);
    border: 2px solid var(--color_primario);
    transform: scale(1.1);
}
/*---------------------------------- SECCIÓN INICIO ---------------------------------- */
#inicio{
    background-image: url('../assets/img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12rem 5rem;
    text-align: left;
}
.hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.hero-content p{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: var(--color_secundario); /* #cfcfcf*/
}

.hero-links{
    display: flex;
    gap: 1rem;
}

.btn-hero{
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.2rem;
    letter-spacing: 3px;
    font-size: 1.1rem;
    border: 2px solid #fff;
    border-radius: 0.7rem;
    transition: all 0.3s ease;
}
.btn-hero:hover {
    background-color: var(--color_secundario);
    color: var(--color_primario);
    border: 2px solid var(--color_primario);
    transform: scale(1.1);
}
@media (max-width: 1024px){
    .logo {
        height: 2.5rem;
    }
    .nav_lists{
        gap: 1.3rem;
    }
    .link, .reservas {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar{
        padding: 0.425rem 2rem;
    }
    /*------------------------------ MENU HAMBURGUESA ------------------------------*/
    .open, .close{
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }
    .close{
        margin: 1rem 1.5rem 0 0;
    }

    .container-links{
        min-height: 100vh;
        padding: 2rem 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        top: 0;
        right: 0;
        background-color: #0e0904;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease;
    }
    .container-links.visible{
        visibility: visible;
        opacity: 1;
    }

    .nav_lists{
        flex-direction: column;
        align-items: stretch;
        padding: 2rem 0;
        margin: 0;
        width: 100%; /* ✅ Que la lista abarque el ancho del menú */
        gap: 0;
    }

    .link{
        display: block;
        width: 100%; /* ✅ Los enlaces abarcan todo el ancho */
        padding: 1.2rem 3rem 1.2rem 5rem;
        font-weight: bolder;
        text-align: right; /* ✅ Para mantener el texto alineado a la derecha */
    }
    .link:hover{
        color: var(--color_primario);
        background-color: var(--color_secundario);
        transform: none;
    }
    
    /*--------------------------------------------------------------------------------------------*/
  .reservas {
        display: none;
    }

    .hero-container{
        margin: 9.5rem 3rem;
    }
    .hero-container h1{
        font-size: 2.5rem;
    }
    .hero-container p{
        font-size: 1.2rem;
    }
    .hero-container, .btn-hero {
        text-align: center;
        align-items: center;
    }
    .btn-hero {
        margin-top: 0;
        font-size: 0.9rem;
        background-color: var(--color_secundario);
        color: var(--color_primario);
        border: 2px solid var(--color_primario);
    }
    .btn-hero:hover {
        transform: scale(1.1);
    }
    
}
@media (max-width: 425px) {
    .hero-container{
        margin: 9.5rem 2.2rem;
    }
    .hero-container h1{
        font-size: 2.1rem;
    }
    .hero-container p{
        font-size: 1.1rem;
    }
}
@media (max-width: 375px) {
    .hero-container{
        margin: 9.5rem 1.9rem;
    }

    .btn-hero {
        font-size: 0.8rem;
    }
}